extends layout

//block content
//  h1= title
//  p Welcome to #{title}

block content
  .container
    form(class='form-signin')
      h2(class='form-signin-heading')= title
      label(for='inputHost', class='sr-only') Host
      input(type='text', id='inputHost' class='form-control', placeholder='Host', required, autofocus)
      label(for='inputPort', class='sr-only') Port
      input(type='text', id='inputPort' class='form-control', placeholder='Port', required)
      label(for='inputID', class='sr-only') ID
      input(type='text', id='inputID' class='form-control', placeholder='ID', required)
      label(for='inputPassword', class='sr-only') PassWord
      input(type='password', id='inputPassword', class='form-control', placeholder='Password' required)
      .checkbox
        label
          input(type='checkbox', value='remember-me')
          p Remember me
      button(id='signin_btn',class='btn btn-lg btn-primary btn-block', type='button') Sign in
