doctype html
html
  head
    meta(charset='utf-8')
    title Agens Manager
    link(href='/static/stylesheets/layout.css', rel='stylesheet')
    block stylesheets
    script(src='/static/javascripts/jquery-2.1.3.min.js')
    script(src='/static/javascripts/jquery.validate-1.13.1.min.js')
    block javascripts
  body
    #header
    block contents
