doctype html
html(lang="ko")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='Agens Manager')
    meta(name='author', content='Bitnine SA Team Kyungho Kim')
    
    title= title

    //Bootstrap core CSS
    link(href='/lib/bootstrap-3.3.2/css/bootstrap.min.css', rel='stylesheet')
    //Custom styles for this template
    link(rel='stylesheet', href='/stylesheets/style.css')
    //scripts library
    script(src='/lib/jquery-2.1.4/jquery-2.1.4.min.js')
    script(src='/socket.io/socket.io.js')
    //Custom scripts for this template
    script(src='/javascripts/index.js')
  body
    block content
