extends layout

block stylesheets
  link(href='/static/stylesheets/login.css', rel='stylesheet')

block javascripts
  script.
    var $loginBtn = $("#loginBtnBox").find("button").eq(1);
    function notValid($not){
      $not.css("border", "2px solid red").addClass("notValid");
    }

    var pattern = /^[a-zA-Z_][a-zA-Z_\d]+$/;
    var passwdPattern = /^[a-zA-Z_\d]+$/;

    function validCheck(){
      $(".notValid").removeClass("notValid").css({"border": "1px solid #aaa"});

      var $username = $("#username").children("input");
      var $passwd = $("#passwd").children("input");

      if($username.val().length == 0) notValid($username);
      if($username.val().length > 0 && !pattern.test($username.val())){
        notValid($username);
      }

      if($passwd.val().length == 0) notValid($passwd);
      if($passwd.val().length > 0 && !passwdPattern.test($passwd.val())){
        notValid($passwd);
      }

      if($(".notValid").size() == 0){

        socket.emit('login_check', $("#loginForm").serializeArray());

        socket.once('login_success', function(rs){
          if(rs.username && rs.passwd){

             $.post("http://localhost:3000/login",{username:rs.username, passwd:rs.passwd, database:'postgres'},function(data){        
              location.href='/';
                });
          }
          if(rs.username && !rs.passwd){
            alert("The password isn't correct.");
            $passwd.val("").focus();
          }
          if(!rs.username && !rs.passwd){
            alert("The username doesn't exist.")
            $username.val("").focus();          
          }
        });
      }
    }

    $loginBtn.click(function(e){
      e.preventDefault();
      validCheck();
    });

block contents
  form#loginForm(method='post', action='login')
    #username
      label username
      input(type='text', name='username')
    #passwd
      label password
      input(type='password', name='password')
    #loginBtnBox
      input(type='submit', name='submit', value='Login')
