doctype html
html(lang="ko")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='Agens Manager')
    meta(name='author', content='Bitnine SA Team')
    
    //TO-DO favicon needs -> claim to designer
    //link(rel='icon', href='../public/images/favicon.ico')
    
    title= title

    //Bootstrap core CSS
    link(href='/lib/bootstrap-3.3.2/css/bootstrap.min.css', rel='stylesheet')
    //Bootstrap tree view CSS
    link(href='/lib/bootstrap-treeview/css/bootstrap-treeview.css')
    //Custom styles for this template
    link(rel='stylesheet', href='/stylesheets/main.css')
    //scripts core JS
    script(src='/lib/jquery-2.1.4/jquery-2.1.4.min.js')
    script(src='/socket.io/socket.io.js')
    //Bootstrap core JS
    script(src='/lib/bootstrap-3.3.2/js/bootstrap.min.js')
    //Bootstrap tree view JS
    script(src='/lib/bootstrap-treeview/js/bootstrap-treeview.js')
    //Custom scripts for this template
    script(src='/javascripts/main.js')
  body
    block content
