@CHARSET "UTF-8";

#functionForm{
	color:#000;
}
#functionForm>div{
	width:100%;
	height:125px;
	background:#ddd;
	color:rgb(31,112,175);
	font-weight:bold
}
#functionForm>div>ul{
	height:50px;
	padding:0;
	margin:0;
	margin-left:71px;
}
#functionForm>div>ul, #functionForm .temp{
	list-style:none;
}
#functionForm .temp{
	margin: 56px 0 0 71px;
	padding:0;
}
#row1>*{
	display:inline-block;
	vertical-align:middle;
}
#row1>label{
	height:20px;
	margin-right:10px;
	font-size:20px;
}
#row1>span{
	background: rgb(230, 230, 204);
}
#row1>span:nth-of-type(1), #name{
	width:20%;
}
#row1>span:nth-of-type(2), #returns{
	width:40%;
}
#row1>span:nth-of-type(3){
	width:40%;
}
#returns>*{
	display:inline-block;
	vertical-align:middle;
}
#returns>label{
	position:relative;
	top:2px;
	font-size:14px;
}
#returns>img{
	margin-left:10px;
	position:relative;
}
#language>select{
	width:100px;
	height:40px;
}
#name>input{
	width:222px;
	height:36px;
}
#typeBox>*{
	vertical-align:middle;
}
#typeBox>select{
	height:40px;
}
#typeBox>.schema{
	margin-left:10px;
}
#typeBox>.type{
	margin-right:10px;
}
#typeBox>span{
	margin-right:5px;
	font-size:14px;
}
.argtype>.type{
	margin-right:25px;
}
.argtype>label{
	font-weight:bold;
	font-size:14px;
	color:rgb(110,110,110);
}
img.array{
	margin:0 90px 0 10px;
}
#row2>span, #row4 label, #row5>label, #row6>span, #row7>span{
	display:block;
	font-weight:bold;
	font-size:14px;
	color:rgb(31,112,175);
}
#row2>ul{
	list-style:none;
	padding:0;
}
#row2>ul>span{
	margin:20px 0 20px 0;
	font-weight:bold;
	color:rgb(110,110,110);
}
#row2>ul>li{
	width:100%;
	margin-bottom:5px;
}
#row2>ul>span, #row2>ul>li>div{
	display:inline-block;
}

#row2>ul>span:nth-of-type(1), .argmode{
	width:187px;
	margin-right:11px;
}
#row2>ul>span:nth-of-type(2), .argname{
	width:222px;
	margin-right:11px;
}

#row2>ul>span:nth-of-type(3), .argtype{
	margin-right:25px;
}
#row3{
	margin-bottom:40px;
}
#row3>#add{
	width:187px;
	height:40px;
	background:url('/static/images/add_arg.png');
	text-indent:-9999px;
	border:0;
	padding:0;
	box-shadow:1px 1px 0 rgba(0,0,0,0.3);
	margin-top:5px;
}
#row4 input{
	margin:20px 0 40px 0;
	height:36px;
	padding:0;
}
.objectFile{
	margin-right:10px;
}
.argmode>select, .argtype>select{
	height:40px;
}
.argname>input{
	height:36px;
}
.argmode>select{
	width:187px;
}
.argname>input{
	width:222px;
	padding:0;
}
.argtype>.schema{
	width:250px;
}

#definition{
	width:480px;
	height:95px;
	resize:none;
	padding:0;
	margin:0;
	margin-bottom:40px;
}
.def>label{
	margin-bottom:20px;
}
#execution_cost, #result_rows{
	width:300px;
	height:36px;
	margin-right:11px;
}
#functionForm #comment{
	width:480px;
	height:36px;
	resize:none;
	padding:0;
}
#row5>label{
	margin-bottom:20px;
}
#row6>span{
	margin:40px 0 20px 0;
}
#row6>ul{
	list-style:none;
	padding:0;
}
#row6>ul>li{
	display:inline-block;
}
#row6>ul>li>label{
	display:block;
	margin-bottom:20px;
	font-weight:bold;
	font-size:14px;
	color:rgb(110,110,110);
}
#row7{
	margin: 40px 0 40px 0;
}
#row7>span{
	display:block;
	margin-bottom:20px;
}
#row7>select{
	display:block;
	width:250px;
	height:40px;
}
.argtype{
	position:relative;
}
.argtype>*{
	vertical-align:middle;
}
.argbtn{
	display:inline-block;
	float:right;
}
.argbtn>.remove{
	margin-left:35px;
}
#langBox{
	margin: 35px 0 20px 71px;
	width:374px;
	display:inline-block;
	font-size:14px;
}
#dbBox{
	display:inline-block;
}
#dbList{
	width:222px;
	height:40px;
}
#btnBox{
	margin-left:71px;
}
#btnBox button {
  width: 129px;
  height: 44px;
  text-indent: -9999px;
  border: none;
  box-shadow:1px 1px 0 rgba(0,0,0,0.3);
}
#createBtn{
	background:url('/static/images/create2.png');
}
#cancelBtn{
	background:url('/static/images/cancel2.png');
}
#functionForm .checkbox {
  width: 24px;
  height: 24px;
  background: url('/static/images/chkbox_default.png');
  cursor:pointer;
}
.argbtn button{
	text-indent: -9999px;
	border:none;
	height:39px;
	box-shadow:1px 1px 0 rgba(0,0,0,0.3);
}
.argbtn .up{
	width:74px;
	background: url('/static/images/up_button.png');
	margin-right:5px;
}
.argbtn .down{
	width:74px;
	background: url('/static/images/down_button.png');
}
.argbtn .remove{
	width:103px;
	background: url('/static/images/remove_button.png');
}