@CHARSET "UTF-8";
#triggerForm{
	margin:0;
}
#triggerForm ul{
	padding:0;
	list-style:none;
	width: 600px;
	margin:0 0 0 71px;
}
#triggerForm>ul>li{
	padding:0;
	display:inline-block;
	margin-top:40px;
}
#triggerForm ul>li>select{
	width:260px;
	height:40px;
	margin-right:15px;
}
#triggerForm ul>li>label{
	display:block;
	width:100%;
	font-size:14px;
	color:rgb(30,97,150);
	font-weight:bold;
	margin-bottom:10px;
}
#triggerForm input#arguments{
	width:260px; 
	height:34px;
}
#triggerForm .field.name{
	width:100%;
	height:123px;
	background:#ddd;
	position:relative;
	line-height:123px;
}
#triggerForm .field.name>div{
	height:40px;
	line-height:50%;
	display:inline-block;
	margin-left:71px;
}

#triggerForm .field.name>div>input{
	height:34px;
	margin-left:30px;
	width:211px;
}
#triggerForm .field.name>div>select{
	height:40px;
	margin-left:30px;
	width:211px;
}
#triggerForm .field.name>div>label{
	font-size:20px;
	font-weight:bold;
	color:rgb(30,97,150);
}
#triggerForm #btnBox{
	width:260px;
	height:45px;
	margin:71px;
}
#triggerForm #btnBox>button{
	width:125px;
	height:45px;
	text-indent:-9999px;
	border:0;
	padding:0;
}
#triggerForm #btnBox #createBtn{
	background:url(/static/images/create2.png)
}
#triggerForm #btnBox #cancelBtn{
	float:right;
	background:url(/static/images/cancel2.png)
}