@charset "utf-8";

#loginForm{
  width: 430px;
  height: 100px;
  margin: 50px 0 0 300px;
  background: #fff;
}

#loginForm>div>label {
  display: inline-block;
  width: 120px;
  color: #000;
}

#loginForm>div>input {
  display: inline-block;
  width: 300px;
}

#loginForm>#loginBtnBox{
  width: 430px;
}

#loginForm>#loginBtnBox>input {
  float:right;
  width:120px;
}
#logout{
	display:none;
}