@CHARSET "UTF-8";

body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	border: none;
	color: #fff;
}

.wrapper {
	position: relative;
	font-family: Arial, Helvetica, sans-serif;
	min-width: 1920px;

}

.header {
	min-width: 1920px;
	height: 100px;
	background: url("images/agens.png") no-repeat;
	background-size: 100px;
	background-position-y: -8px;
	background-color: rgb(149, 193, 218);
	margin-bottom:20px;
}

.sidebar {
	width: 230px;
	float:left;
}

.content {
	float:right;
	background:yellow;
	width:1670px;
	min-height:842px;
}

.header #loginHeader{
	display: inline-block;
	line-height: 100px;
	width: 200px;
	float: right;
	text-align: center;
}
.header #loginHeader a, .header #loginHeader span{
	text-decoration: none;
	color: #000;
}
.header #loginHeader a:hover {
	color: #fff;
	text-decoration: underline;
}


.object {
	color: #fff;
}

.treeview span:hover, .bar_content span:hover {
	color: #000;
	cursor: pointer;
}

.last span:hover {
	cursor: text;
	color: #fff;
}

.object {
	display: block;
	width: 100%;
}

#objectBrowser, #toolMenu {
	border: 1px solid #666;
	width: 228px;
	min-height: 800px;
}

.bar {
	height: 100%; cursor : default;
	cursor: default;
}

.bar .bar_wrapper {
	height: 800px;
	width: 228px;
	background-color: rgb(149, 193, 218);
}
/*
.bar .bar-content {
	height: 100%;
	background-color: rgb(149, 193, 218);
	width: 228px;
}
*/

.bar .bar_content {
	width: 190px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	min-height: 797px;
	padding: 20px 0 0 20px;
	overflow: auto;
}

.bar_content>ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.bar_content>ul>li>ul {
	list-style-type: none;
	padding-left: 10px;
	margin: 0;
}

.bar_content .title, .label {
	font: 18px/24px Arial, Helvetica, sans-serif;
}

.etabs {
	margin: 0;
	padding: 0;
}

.etabs {
	position: relative;
	width: 230px;
	height: 40px;
}

.tab {
	position: absolute;
	z-index: 1;
	width: 110px;
	height: 39px;
	background: #eee; overflow : hidden;
	border: solid 1px #999;
	border-bottom: none;
	-moz-border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
	overflow: hidden;
}

.tab:nth-of-type(1) {
	left: 0;
}

.tab:nth-of-type(2) {
	right: 0;
}

.tab a {
	width: 113px;
	height: 40px;
	line-height:40px;
	font-size: 14px;
	color: #000;
	display: block;
	outline: none;
	text-decoration: none;
	text-align: center;
	
}

.tab.active {
	background-color: rgb(149, 193, 218);
	border-color: #666;
	height: 40px;
}

.tab a.active {
	font-weight: bold;
}

