@CHARSET "UTF-8";
#indexForm{
	background:#eee
}
#indexForm>ul{
	list-style:none;
}
#indexForm>div:nth-of-type(1){
	width:100%;
	height:123px;
	background:#ddd;
	overflow:auto;
}
#indexForm>div:nth-of-type(1)>label{
	display:inline-block;
	margin-left:71px;
	margin-top: 54px;
	font-weight:bold;
	font-size:19.42px;
	color:rgb(31,112,175);
}
#indexName{
	display:inline-block;
	margin-left:30px;
	width:213px;
	height:39px;
	padding:0;
}
#indexForm>div:nth-of-type(2)>label{
	display:inline-block;
	font-size: 14px;
	font-weight: bold;
	color: rgb(31,112,175);
}
#indexForm>div:nth-of-type(2)>label:nth-of-type(1){
	margin-left:71px;
	margin-top: 57px;
}
#access{
	margin-left:15px;
	width:120px;
	height:40px;
}
#indexForm>div:nth-of-type(2)>label:nth-of-type(2), #indexForm>div:nth-of-type(2)>label:nth-of-type(3){
	margin-left:40px;
	margin-right:10px;
}
#indexForm>div:nth-of-type(2){
	position:relative;
}
#indexForm>div:nth-of-type(2)>img{
	position:absolute;
	bottom:10px;
} 
#indexForm>ul{
	margin-top:100px;
	margin-left:71px;
	padding:0;
}
#indexForm>ul>li{
	display:inline-block;
	overflow:auto;
}
#indexForm>ul>li>label{
	font-size: 14px;
	font-weight: bold;
	color: rgb(31,112,175);
	display:block;
	margin-bottom:20px;
}
#indexForm>ul>li:nth-of-type(5){
	position:relative;
	width:70px;
	height:130px;
	margin:0 40px;
}
#indexForm>ul>li:nth-of-type(5)>div{
	margin-bottom:15px;
}
#indexForm>ul>li:nth-of-type(5)>div>span{
	display:inline-block;
	font-size: 14px;
	font-weight: bold;
	color: rgb(31,112,175);
	margin-top:5px;
}
#indexForm>ul>li:nth-of-type(5)>div>img{
	float:right;
}
#indDatabase, #indSchema, #indTable, #indColumn{
	width:120px;
	height:130px;
}
#output{
	width:300px;
	height:130px;
}
#btnBox{
	width:104px;
	height:130px;
	margin-right:40px;
}
#btnBox>button{
	width:104px;
	height:35px;
	text-indent: -9999px;
	border: none;
	margin-bottom:5px;
}
#btnBox>button:nth-of-type(1){
	background:url('images/add.png');
}
#btnBox>button:nth-of-type(2){
	background:url('images/remove.png');
}
#indexForm>div:last-of-type{
	margin-top:85px;
	margin-left:71px;
}
#indexForm>div:last-of-type>button{
	width: 129px;
	height: 44px;
	text-indent: -9999px;
	border: none;
}
#createBtn{
	background:url('images/create_btn.png');
}
#cancelBtn{
	background:url('images/cancel_btn.png');
}
