	.content ul{
		list-style-type: none;
		color:#000;
	}
	.content select, .checkbox, button {
		cursor:pointer;
	}
	.content #name{
		margin-left:3px;
	}
	.content li:nth-of-type(4)>.field>span{
		display:block;
	}
	.content #column th{
		background: rgb(230, 230, 204);
	}
	.content #column th:last-child{
		background:none;
	}
	.content #column td{
		text-align:center;
	}
	.content #comment {
		width:1050px;
		height:100px;
		resize:none;
	}
	.content .column{
		width: 200px;
	}
	.content .column input{
		width: 80%;
	}
	.content .type{
		width:200px;
	}
	.content .array{
		width: 50px;
	}
	.content .length{
		width:100px;
	}
	.content .default{
		width:200px;
	}
	.content .comment{
		width:300px;
	}
	.content .button{
		box-shadow:1px 1px 1px #000;
		border:none;
		width:16px;
		height:16px;
		text-indent:-9999px;
		background-size:100%;
	}
	.content .add{
		background:url("images/plus.png") no-repeat;
	}
	.content .remove{
		background:url("images/minus.png") no-repeat;
	}