@CHARSET "UTF-8";

#functionForm{
	color:#000;
}
#functionForm>ul{
	list-style:none;
}
#row1>*{
	display:inline-block;
}
#row1>span{
	background: rgb(230, 230, 204);
}
#row1>span:nth-of-type(1), #name{
	width:19%;
}
#row1>span:nth-of-type(2), #returns{
	width:60%;
}
#row1>span:nth-of-type(3){
	width:19%;
}
#returns>*{
	display:inline-block;
}
#row2>span, #row4 label, #row5>label, #row6>span, #row7>span{
	display:block;
	background: rgb(230, 230, 204);
}
#row2>ul{
	list-style:none;
	padding:0;
}
#row>ul>li{
	width:100%;
}
#row2>ul>span, #row2>ul>li>div{
	display:inline-block;
}

#row2>ul>span:nth-of-type(1), #row2>ul>li>div:nth-of-type(1){
	width:20%;
}
#row2>ul>span:nth-of-type(2), #row2>ul>li>div:nth-of-type(2){
	width:20%;
}

#row2>ul>span:nth-of-type(3), #row2>ul>li>div:nth-of-type(3){
	width:60%;
}

#definition{
	width:100%;
	height:300px;
	resize:none;
}
#functionForm #comment{
	width:100%;
	height:100px;
	resize:none;
}
#row6>ul{
	list-style:none;
}
#row6>ul>li{
	display:inline-block;
}
#row6>ul>li:nth-of-type(1){
	width:35%;
}
#row6>ul>li:nth-of-type(2){
	width:60%;
}
#row7>select{
	display:block;
}
