ul {
	list-style-type: none;
	color: #000;
	padding: 0;
}
#column{
	width:1400px;
	
}
select, .checkbox, button {
	cursor: pointer;
}

#name {
	margin-left: 3px;
}

li:nth-of-type(4)>.field>span {
	display: block;
}

#column th {
	background: rgb(230, 230, 204);
}

#column th:last-child {
	background: none;
}

#column td {
	text-align: center;
}

#comment {
	width: 1050px;
	height: 100px;
	resize: none;
}

.column {
	width: 200px;
}

.column input {
	width: 80%;
}

.type_box{
	width:200px;	
}
.type {
	width: 80%;
}

.array {
	width: 20%;
}

.length {
	width: 100px;
}
.constraint_box, .constraint_box>.c{
	width: 100px;
}
.f_key_box{
	width:100px;
}
.f{
	width:70px;
}

.default {
	width: 150px;
}

.comment {
	width: 200px;
}
.check{
	width:200px;
}

.button {
	box-shadow: 1px 1px 1px #000;
	border: none;
	width: 16px;
	height: 16px;
	text-indent: -9999px;
	background-size: 100%;
}

.add {
	background: url("images/plus.png") no-repeat;
}

.remove {
	background: url("images/minus.png") no-repeat;
}