@CHARSET "UTF-8";
#viewForm>div:nth-of-type(1){
	width: 100%;
	height: 123px;
	background: #ddd;
	overflow:auto;
}
#viewForm>div:nth-of-type(1)>label{
	font-size: 19.42px;
	font-weight: bold;
	color: rgb(31,112,175);
	display:inline-block;
	margin:54px 30px 0 71px;
}
#viewForm>div:nth-of-type(1)>input{
	display: inline-block;
	width: 213px;
	height: 39px;
	padding: 0;
}
#view{
	list-style:none;
	margin:40px 0 0 71px;
	padding:0;
}
#view>li>label{
	font-size: 14px;
	font-weight: bold;
	color: rgb(31,112,175);
}

#view>li:nth-of-type(1){
	margin-bottom:60px;
}
#view>li:nth-of-type(2){
	margin-bottom:40px;
}
#dbList{
	width:190px;
	height:40px;
	margin-left:50px;
}

#view>li:nth-of-type(2)>label,#view>li:nth-of-type(3)>label{
	display:block;
	margin-bottom:20px;
}
#query, #comment{
	width:335px;
	height:120px;
	resize:none;
}
#btnBox{
	margin: 85px 0 0 71px;
}
#btnBox>button{
	width: 129px;
	height: 44px;
	text-indent: -9999px;
	border: none;
}
#createBtn{
	background:url('images/create_btn.png');
}
#cancelBtn{
	background: url('images/cancel_btn.png');
}