@CHARSET "EUC-KR";
	ul{
		list-style-type: none;
	}
	select, .checkbox, button {
		cursor:pointer;
	}
	#name{
		margin-left:3px;
	}
	li:nth-of-type(4)>.field>span{
		display:block;
	}
	#column th{
		background: rgb(230, 230, 204);
	}
	#column th:last-child{
		background:none;
	}
	#column td{
		text-align:center;
	}
	#comment {
		width:1050px;
		height:100px;
		resize:none;
	}
	.column{
		width: 200px;
	}
	.column input{
		width: 80%;
	}
	.type{
		width:200px;
	}
	.array{
		width: 50px;
	}
	.length{
		width:100px;
	}
	.default{
		width:200px;
	}
	.comment{
		width:300px;
	}
	.button{
		box-shadow:1px 1px 1px #000;
		border:none;
		width:16px;
		height:16px;
		text-indent:-9999px;
		background-size:100%;
	}
	.add{
		background:url("public/css/images/plus.png") no-repeat;
	}
	.remove{
		background:url("public/css/images/minus.png") no-repeat;
	}