@CHARSET "UTF-8";

body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	border: none;
	color: #fff;
}

.wrapper {
	width: 1920px;
	height: 976px;
	position: relative;
	font-family: Arial, Helvetica, sans-serif;
}

.header {
	width: 1920px;
	height: 104px;
	background: url("images/header.png") no-repeat;
	background-size: 1920px 104px;
}

.header #loginHeader {
	width: 200px;
	display: inline-block;
	line-height: 100px;
	float: right;
	text-align: center;
}

.header #loginHeader a, .header #loginHeader span {
	text-decoration: none;
	color: #000;
}

.header #loginHeader a:hover {
	color: #fff;
	text-decoration: underline;
}

.content {
	width: 1684px;
	height: 976px;
	float: right;
	background: #eee;
	position: relative;
}

.content_wrapper {
	margin: auto;
	background: #eee;
}

.sidebar {
	width: 236px;
	height:976px;
	float: left;
}
.bar {
	width:236px;
	height:909px;
}
.bar .bar_wrapper {
	height:909px;
	width: 236px;
	background: rgb(42, 45, 54);
}

.bar .bar_content {
	font: 14px/16px Arial, Helvetica, sans-serif;
	height: 909px;
	overflow: auto;
}

.bar .bar_content>ul>li>a {
	color: #fff;
	display:block;
	width:236px;
	height:56px;
	line-height:56px;
	text-indent:33px;
	font-size:14px;
	text-decoration:none;
	cursor:pointer;
}

.bar_content>ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.bar_content>ul>li>ul {
	list-style-type: none;
	margin: 0;
	padding:0;
	position:relative;
}
.bar_content>ul>li>ul>li{
	width:236px;
	height:40px;
	line-height:40px;
	text-indent:98px;
}
.bar_content>ul>li>ul>li:before{
	content:'';
	display:block;
	width:30px;
	height:30px;
	position:absolute;
	left:51px;
}
.bar_content>ul>li>ul>li:nth-of-type(1):before{
	top:10px;
	background:url('images/table.png') no-repeat;
}
.bar_content>ul>li>ul>li:nth-of-type(2):before{
	top:50px;
	background:url('images/schema.png') no-repeat;
}
.bar_content>ul>li>ul>li:nth-of-type(3):before{
	top:90px;
	background:url('images/index.png') no-repeat;
}
.bar_content>ul>li>ul>li:nth-of-type(4):before{
	top:130px;
	background:url('images/view.png') no-repeat;
}
.bar_content>ul>li>ul>li:nth-of-type(5):before{
	top:170px;
	background:url('images/function.png') no-repeat;
}
.bar_content>ul>li>ul>li:nth-of-type(6):before{
	top:210px;
	background:url('images/trigger.png') no-repeat;
}

.object {
	display: block;
	width: 236px;
	height:40px;
	color: #fff;
	font-size:12px;
	cursor:pointer;
}

.bar_content .title, .label {
	font: 18px/24px Arial, Helvetica, sans-serif;
}
.etabs {
	margin: 0;
	padding: 0;
}

.etabs {
	position: relative;
	width: 236px;
	height: 67px;
}

.tab {
	position: absolute;
	z-index: 1;
	width: 118px;
	height: 67px;
	background: rgb(42, 45, 54);
	overflow: hidden;
	/*-moz-border-radius: 10px 10px 0 0;*/
	/*-webkit-border-radius: 10px 10px 0 0;*/
	overflow: hidden;
}

.tab:nth-of-type(1) {
	left: 0;
}

.tab:nth-of-type(2) {
	right: 0;
}

.tab a:nth-of-type(1) {
	width: 118px;
	height: 62px;
	line-height: 67px;
	font-size: 14px;
	color:#fff;
	display: block;
	outline: none;
	text-decoration: none;
	text-align: center;
}
.tab.active a:nth-of-type(2){
	display:block;
	width:118px;
	height:5px;
	background: rgb(6,201,229);
}
.tab.active {
	background: rgb(42, 45, 54);
	border-color: #666;
	height: 67px;
}

.tab a:nth-of-type(1).active {
	color:rgb(6,201,229);
	font-weight:bold;
}
#browser span{
	cursor:pointer;
	color:#fff;
}

#browser .last span:hover {
	cursor: text;
}

#loginForm{
	width: 600px;
	height: 100px;
	position: absolute;
	left: 100px;
	top: 100px;
	background: #fff;
}

#loginForm>div>label {
	display: inline-block;
	width: 120px;
	color: #000;
}

#loginForm>div>input {
	display: inline-block;
	width: 300px;
}

#loginForm>#loginBtnBox{
	width: 600px;
}

#loginForm>#loginBtnBox>button {
	float: right;
}
.checkbox, button{
	cursor:pointer;
}
.db::before{
	content:'';
	display:inline-block;
	width:17px;
	height:15px;
	background:url('images/databaseName.png') no-repeat;	
	background-size:15px 15px;
	vertical-align:-2px;
}
.schema::before{
	content:'';
	display:inline-block;
	width:11px;
	height:15px;
	background:url('images/schemaName.png') no-repeat;	
	background-size:7px 15px;
	vertical-align:-2px;
}
.schemaTable::before{
	content:'';
	display:inline-block;
	width:20px;
	height:16px;
	background:url('images/table.png') no-repeat;	
	background-size:16px 16px;
	vertical-align:-2px;
}
.table::before{
	content:'';
	display:inline-block;
	width:19px;
	height:16px;
	background:url('images/tableName.png') no-repeat;	
	background-size:15px 15px;
	vertical-align:-2px;
}
.tableColumn::before, .viewColumn::before{
	content:'';
	display:inline-block;
	width:12px;
	height:18px;
	background:url('images/column.png') no-repeat;	
	background-size:18px 18px;
	background-position-x:-4px;
	vertical-align:-3px;
}
.col .column::before{
	content:'';
	display:inline-block;
	width:11px;
	height:18px;
	background:url('images/columnName.png') no-repeat;	
	background-size:18px 18px;
	background-position-x:-4px;
	vertical-align:-3px;
	
}
.tableIndex::before{
	content:'';
	display:inline-block;
	width:19px;
	height:17px;
	background:url('images/index.png') no-repeat;	
	background-size:14px 16px;
	vertical-align:-3px;
}
span.ind::before{
	content:'';
	display:inline-block;
	width:15px;
	height:17px;
	background:url('images/indexName.png') no-repeat;	
	background-size:11px 16px;
	vertical-align:-3px;
}
.schemaView::before{
	content:'';
	display:inline-block;
	width:20px;
	height:17px;
	background:url('images/view.png') no-repeat;	
	background-size:16px 16px;
	vertical-align:-2px;
}
.view::before{
	content:'';
	display:inline-block;
	width:19px;
	height:16px;
	background:url('images/viewName.png') no-repeat;	
	background-size:15px 15px;
	vertical-align:-2px;
}

.schemaFunc::before{
	content:'';
	display:inline-block;
	width:22px;
	height:18px;
	background:url('images/function.png') no-repeat;	
	background-size:18px 18px;
	vertical-align:-2px;
}
span.func::before{
	content:'';
	display:inline-block;
	width:18px;
	height:15px;
	background:url('images/functionName.png') no-repeat;	
	background-size:14px 14px;
	vertical-align:-2px;
}



